.navbar {
  background-color: chocolate !important;
}
.bg-dark {
  background-color: chocolate !important;
}
.card-img-top {
  width: 100%;
  height: vh;
  object-fit: cover;
}
#map {
  height: 450px;
}
@media (min-width: 768px) {
  .card-img-top {
    height: 40vh;
  }
  #map {
    height: 100%;
  }
}
